body {
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.contenedor {
    position: relative;
    width: 600px;
    height: 600px;
}

.caja {
    position: absolute;
    padding: 22px;
    box-sizing: border-box;
}

h2 {
    background-color: black;
    color: white;
    padding: 4px 13px;
    border: 2.5px dotted white;
    margin-bottom: 13px;
    font-size: 1.2rem;
}

ul {
    margin-left: 10px;
}

ul ul {
    margin-top: 10px;
}

.caja.de-fondo {
    background-color: #9b3087;
    width: 250px;
    height: 300px;
    ;
    left: 175px;
    z-index: 1;
}

.caja.papas {
    background-color: #a05882;
    width: 250px;
    height: 340px;
    top: 100px;
    left: 50px;
    z-index: 2;
}

.caja.bocadillos {
    background-color: #c27aab;
    width: 270px;
    height: 350px;
    top: 70px;
    left: 350px;
    z-index: 3;
}

.caja.bebidas {
    background-color: #a2aa84;
    width: 254px;
    height: 350px;
    top: 250px;
    left: 280px;
    z-index: 4;

}

.caja.verde-derecha {
    background-color: #809c75;
    width: 200px;
    height: 100px;
    top: 350px;
    left: 500px;
}